$backgrnd: #ffd280;
$black-main: #212327;
$minblack: rgba(0, 0, 0, 0.145);
$minwhite: rgba(255, 255, 255, 0.329);
$orangered: orangered;
$orange: orange;
$orange-min: rgb(231, 150, 0);

$font-content: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-head: Verdana, Geneva, Tahoma, sans-serif;

$index_1: 1;
$index_2: 2;
$index_3: 3;
$index_4: 4;

$_1: 1rem;
$_1-1: 1.1rem;
$_1-2: 1.2rem;
$_1-3: 1.3rem;
$_1-4: 1.4rem;
$_1-5: 1.5rem;
$_1-6: 1.6rem;
$_1-7: 1.7rem;
$_1-8: 1.8rem;
$_1-9: 1.9rem;
$_2: 2rem;